<main class="layout-wrapper">
  <div class="basic-form">
    <h2>Logowanie</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field">
        <%= f.email_field :email, autofocus: true %>
        <%= f.label :email %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, class: "filled-in" %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Zaloguj", class: "btn waves-effect waves-light btn-flat" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    <div class="demo">
      <strong>Wersja demo:</strong>
      <p>Login: <strong>admin@no.com</strong></p>
      <p>Pass: <strong>admin123</strong></p>
    </div>
  </div>
</main>
