<tr data-target="modal">
  <td><a href="https://allegro.pl/show_item.php?item=<%= auction.auction_id %>"><%= auction.auction_id %></a></td>
  <td><%= auction[:auction_data]['itemTitle'] %></td>
  <td><%= auction[:auction_data]['priceValue'] %></td>
  <td><%= auction.fraud_possibility? ? 'Podejrzany' : 'Czysty' %></td>
  <td><a href="#" class="btn waves-effect waves-light red">Wyślij do kontroli</a></td>
  <td><a href="#" data-activates="slide-out" class="btn waves-effect waves-light x-drawer-button">Szczegóły</a></td>
</tr>
