<header class="page-header x-header">
  <div class="layout-wrapper page-header__content">
    <a href="index.html" class="brand">VATman</a>
    <ul class="main-nav">
      <li><a href="#">Lista aukcji</a></li>
      <li><a href="#">Wysłane kontrole</a></li>
    </ul>
    <div class="page-header__options">
      <a class="dropdown-button user-menu-trigger" href="#" data-activates="dropdown-settings" data-stoppropagation="true">vatman@vatman.com</a>
      <ul id="dropdown-settings" class="dropdown-content">
        <li><a href="#!">Ustawienia</a></li>
        <li><a href="#!">Pomoc</a></li>
        <li><%= link_to('Wyloguj się', destroy_user_session_path, method: :delete) %></li>
      </ul>
    </div>
  </div>
</header>
<main class="layout-wrapper">
  <aside class="data-summary">
    <dl>
      <dt>Ilość rekordów:</dt>
      <dd>12331</dd>
    </dl>
    <dl>
      <dt>Podejrzane:</dt> <dd>2302</dd></dl>
    <dl><dt>Ostatnia aktualizacja:</dt>
      <dd>12.12.2017 12:12:12</dd></dl>
    <%= link_to 'Pobierz CSV', panel_auctions_export_path, class: 'btn waves-effect waves-light' %>
  </aside>
  <h2>Lista aukcji</h2>


  <div class="table-wrapper">
    <table class="bordered table-files x-table" id="table-data">
      <thead>
        <tr>
          <th>ID aukcji</th>
          <th class="table__main-col">Przedmiot auckji</th>
          <th>Kwota</th>
          <th>Status</th>
          <th>Zgłoszenie</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial:  'panel/auctions/auction', collection: @auctions %>
      </tbody>
    </table>
  </div>
</main>
<footer class="page-footer">
  <div class="layout-wrapper">
    &copy; 2017 VATman
  </div>
</footer>

<div id="modal" class="modal">

    <%= form_for(:report, as: :form_data, url: panel_request_control_path, html: { method: :post }, remote: true ) do |f| %>
      <%= f.text_field :auction_id, class: 'x-modal-auction-id', value: Auction.last.auction_id %>

      <div class="modal-content">
        <h4>Zgłoszenie kontroli</h4>
        <p>Czy na pewno chcesz zgłosić rekord do kontroli?</p>
        <div class="input-field">
          <%= f.text_area :full_description, size: '8x80', class: 'materialize-textarea' %>
          <label for="description">Opcjonalny komentarz</label>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Anuluj</a>
        <button type="submit" class="btn modal-action modal-close waves-effect waves-green x-msg">Zgłoś</button>
      </div>
    <% end %>
</div>
<div id="slide-out" class="side-nav custom-sidebar">
  sdsadsada
</div>
